*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.so
*.suo
*.user
*.xcodeproj
#*#
*~
.cpplint-cache
d8
d8_g
shell
shell_g
/build/gyp
/obj/
/out/
/test/es5conform/data
/test/mozilla/data
/test/sputnik/sputniktests
/test/test262/data
/tools/oom_dump/oom_dump
/tools/oom_dump/oom_dump.o
/tools/visual_studio/Debug
/tools/visual_studio/Release
/xcodebuild/
TAGS
*.Makefile
*.sdf
*.ilk
v8/build/Debug/*.exe
v8/build/Debug/obj
v8/build/Debug/lib/*.lib
v8/third_party/**/*

