*.a
*.exe
*.idb
*.lib
*.log
*.map
*.mk
*.ncb
*.pdb
*.pyc
*.scons*
*.so
*.suo
*.user
*.xcodeproj
#*#
*~
.cpplint-cache
d8
d8_g
shell
shell_g
/build/gyp
/obj/
/out/
/test/es5conform/data
/test/mozilla/data
/test/sputnik/sputniktests
/test/test262/data
/tools/oom_dump/oom_dump
/tools/oom_dump/oom_dump.o
/tools/visual_studio/Debug
/tools/visual_studio/Release
/xcodebuild/
TAGS
*.Makefile
*.sdf
*.ilk
*.ipch
build/Debug/*.exe
build/Debug/obj
build/Debug/lib/*.lib


# Required cygwin file are bin/*.exe, setup_env.bat and setup_mount.bat
# The other files are not required.
!third_party/cygwin/bin/*.exe
third_party/cygwin/usr
third_party/cygwin/tmp
third_party/cygwin/lib
third_party/cygwin/cygdrive

